name: Preprocessing
 
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
 
jobs:
  build:
    runs-on: ubuntu-latest
    environment: production
 
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v3
 
      # Setup Python 3.12.7
      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"

      # Install Python dependencies
      - name: Install Python dependencies
        run: |
          pip install pandas nltk sastrawi
 
      # Preprocess data. The data will be stored in preprocessing/prdectid_preprocessing.csv
      - name: Preprocess dataset
        run: |
          cd preprocessing
          python automate_reynaldnc.py

      # Commit and push changes to repository
      - name: Push to repository
        run: |
          git config --global user.name ${{ secrets.USERNAME }}
          git config --global user.email ${{ secrets.EMAIL }}
          git add preprocessing/prdectid_preprocessing.csv
          git commit -m "[Auto] $(date) Data updated and preprocessed
          git push origin main
